PORT=3000
CORS_ORIGIN=*
LOG_LEVEL=info
NODE_ENV=development
TURN_URL=turn:openrelay.metered.ca:80
TURN_URL_TLS=turn:openrelay.metered.ca:443
TURNS_URL=turns:openrelay.metered.ca:443
TURN_USERNAME=openrelayproject
TURN_CREDENTIAL=openrelayproject
